<div class="row-content feedback">
    <!--PAGE TITLE-->
    <div class="content-header clearfix">
        <div class="pull-left">
            <h3 class="page-header"><span>{{pageTitle | translate}}</span>
            </h3>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="search auto-size">
                        <i class="fa fa-search"></i>
                        <input id="searchInput" name="key" placeholder="{{'Search' | translate}}" type="text" [(ngModel)]="search.key"
                                (keyup.enter)="filter($event)">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 align-right">
                <div class="form-group">
                    <a (click)="showCreateArticleModal()" class="btn btn-create ">
                        <i class="fa fa-plus"></i> {{'Add new' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
        <div class="table-responsive">
            <table class="table table-striped condo-manager">
                <thead>
                <tr>
                    <th>{{'Article title' | translate}}</th>
                    <th>{{'Id' | translate}}</th>
                    <th>{{'Source' | translate}}</th>
                    <th class="text-center th-action" colspan="2">{{'Actions' | translate}}</th>                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of articles | paginate: {id: 'pagination', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let index = index">
                    <td>{{item.title}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.source}}</td>
                    <td class="text-center actions">
                        <i class="fa fa-pencil-square text-primary" (click)="(item)"></i>
                        <i (click)="delete(item.id)" class="fa fa-minus-circle text-danger"></i>
                    </td>
                </tr>
                <tr *ngIf="!totalItems">
                    <td colspan="11">
                        <p>{{'No Results Display' | translate}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-footer">
        <div class="text-center clearfix">
            <pagination-controls id="pagination"
                                 (pageChange)="pageChanged($event)" directionLinks="true" autoHide="true">
            </pagination-controls>
        </div>
    </div>
</div>

<!--create, edit form-->
<div bsModal #articlesModal="bs-modal" class="modal fade" [config]="{ignoreBackdropClick: true}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <div class="pull-left">
                    <h4 class="modal-title pull-left" *ngIf = "!article.id">{{'Add' | translate}}</h4>
                    <h4 class="modal-title pull-left" *ngIf = "article.id">{{'Edit' | translate}}</h4>

                </div>
                <div class="pull-right">
                    <button type="button" class="close pull-right" (click)="hideArticleModel()"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <form #formArticle="ngForm" id="formArticle">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 lbl-title">
                                <label>{{'Title name' | translate}}:<span
                                        class="label-required"> *</span></label>
                            </div>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" name="title" class="form-control"
                                [(ngModel)]="article.title" placeholder="{{'title' | translate}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 lbl-title">
                                    <label>{{'Auth' | translate}}:<span
                                        class="label-required"> *</span></label>
                                </div>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" name="auth" class="form-control"
                                    [(ngModel)]="article.auth" placeholder="{{'auth' | translate}}">
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 lbl-title">
                                <label>{{'Category' | translate}}:<span
                                    class="label-required"> *</span></label>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <select name="category" id="category" class="form-control" [(ngModel)]="article.categoryId"><!--t6 -->
                                    <option value="">{{'select'| translate}}</option>
                                    <option *ngFor = "let item of categories" [value]="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                </div>
                    <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 lbl-title">
                                    <label>{{'Source' | translate}}:<span
                                            class="label-required"> *</span></label>
                                </div>
                                <div class="col-sm-7 col-md-7">
                                    <input type="text" name="source" class="form-control"
                                    [(ngModel)]="article.source" placeholder="{{'source' | translate}}">
                                </div>

                            </div>

                    </div>

                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <div class="text-center">
                    <a class="btn btn-cancel" (click)="hideArticleModel()" *ngIf="!user.id">{{"Cancel" | translate}}</a>
                    <a class="btn btn-create" *ngIf="!article.id" (click)="create()"><i class="fa fa-save"></i> {{'Create' | translate}}</a>
                    <a class="btn btn-create" *ngIf="article.id" (click)="update()"><i class="fa fa-save"></i> {{"Save" | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
