<ul class="al-msg-center clearfix">
    <li>
      <a href class="dropdown-toggle" id="msg-dd1" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bell-o"></i><span>10</span>
        <div class="notification-ring"></div>
      </a>
    </li>
    <li>
      <a href class="msg dropdown-toggle" id="msg-dd2" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-envelope-o"></i><span>5</span>
        <div class="notification-ring"></div>
      </a>
    </li>
  </ul>  