<!--<div class="al-footer clearfix">-->
  <!--<div class="al-footer-main clearfix">-->
    <!--<div class="al-copy">Copyright &copy; <a href="https://ventuso.net">Ventuso LLC</a> 2016. All rights reserved.</div>-->
    <!--<ul class="al-share clearfix">-->
      <!--<li><i class="socicon socicon-facebook"></i></li>-->
      <!--<li><i class="socicon socicon-twitter"></i></li>-->
      <!--<li><i class="socicon socicon-google"></i></li>-->
      <!--<li><i class="socicon socicon-github"></i></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
