<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>{{'Oops!' | translate}}</h1>
              <h2>{{'404 Not Found' | translate}}</h2>
              <div class="error-details">
                  {{'Sorry, an error has occured, Requested page not found!' | translate}}
              </div>
              <div class="error-actions">
                  <a routerLink="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> {{'Take Me Home' | translate}} </a>
              </div>
          </div>
      </div>
  </div>
</div>
